*{
    box-sizing: border-box;
}
body {
background-color:#28524F;
 /* #9E8F4D; */
/* rgb(247, 146, 14); */
}
.searchContainer, .pagination{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    flex-wrap: wrap;
    
} 
.searchContainer{
    width:85%;
    margin: 3px auto;
}

.inputContainer{
    margin-bottom: 2px;

    

}  
.sorting{
    /* text-align: right; */
    /* position: relative;
     left:5vh;  */
     margin-left: 7vh; 
     


    /* flex-grow: 1;
    margin:auto; */
}
.typewriter {
   /* width:max-content; */
    overflow: hidden;
    color: rgb(93, 153, 179);
    font-weight: 700;
    border-right: .15em solid orange;
    white-space: nowrap; 
    margin: 10% auto;
    letter-spacing: .15em; 
    animation: 
      typing 2s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:orange ; }
  }
  .centered{
      text-align: center;
  }
  .Newest{
        font-weight: 500;
}
.search_Button{
    background-color:rgb(93, 153, 179);
    opacity:.5;
    padding: 3px;
    margin-left: 3px;
    border: #704f6b .3em solid;
    border-radius: 10px;
    
}
.loading{
    margin:auto;
    width: 400px;
    /* border:black solid; */
}
.loading_container{
    text-align: center;
    display: block;
}