*{
    box-sizing: border-box;
}
body {
background-color:#28524F;
 /* #9E8F4D; */
/* rgb(247, 146, 14); */
}
.searchContainer, .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    
} 
/* 
.inputContainer{
    border:red solid;

}  */
.sorting{
    /* text-align: right; */
    /* position: relative;
     left:5vh;  */
     margin-left: 7vh; 
     


    /* flex-grow: 1;
    margin:auto; */
}
.typewriter {
   /* width:max-content; */
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .15em; 
    animation: 
      typing 5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:orange ; }
  }
  .centered{
      text-align: center;
  }