
.entryContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    /* background-color: #78D6B7; */
    background-color: #9E6D97;
    margin: 1em auto;
    width: 85%;
    box-shadow: .2em .5em;
}


.entryNumber{
    padding: 1em;
}
.entryNumber:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 80px solid white;
    border-left: 80px solid #9E6D97;
    width: 0;
}
.entryContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1em;
    flex-grow:1;
}
 .entryMain, .entrySecondary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
} 
.entrySecondary{
    margin-top: .5em;
}
.entryTitle{
    margin-right: 1em ;
}
.entryContainer p, a {
   margin:0;
   padding: 0;
 }
.entryMain a{
     /* color: rgb(255, 165, 0); */
    color:black;
    font-weight: 800; 
    text-decoration: none;
     /* background-color: #7573be; */
}
.entrySecondary a{
    color: black;
    text-decoration: none;

}
.points{
margin-left: auto;
}
 .mr7{
    margin-right: 7px;
 }
 .mr3{
    margin-right: 3px;
 }