*{
    box-sizing: border-box;
}
header {
    background-color:#28524F;
     /* rgb(93, 153, 179); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.title:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 80px solid white;
    border-left: 80px solid #704f6b;
    width: 0;
}
.logo{
    width: 200px;
    /* border:black solid; */

}
.title{
    color:rgb(93, 153, 179); 
    /* #524B2C; */
    /* rgb(255, 165, 0); */
}
.navitem{
    color:orange;
    margin:1em;  
    display:inline;
}
